.introduction-page{
    padding: 0 153px;
    margin-top: 75px;
    width: 100%;
}
.intro{
    display: flex;
    /* justify-content: space-between; */
    /* padding: 53px 153px 0 153px; */
    width: 100%;
}
.heading{
    font-family: Inter;
    font-size: 54px;
    font-weight: 600;
    line-height: 87px;
    letter-spacing: 0em;
    text-align: left;
    /* width: 100%; */
    width: 50%;
    border-right: 1px solid #6A6A6A; 
}
.right-div{
    margin: 19px 0 0 87px;
    /* display: flex;
    flex-direction: column;
    align-items: start; */
}
.criminal-lawyer-title{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
}
.criminal-lawyer-text{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;  
    color: var(--css-gray);  
    /* max-width: 475px; */
}
.choose-us{
    margin-top: 12rem;
}
.choose-us-title{
    font-family: Inter;
    font-size: 54px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: center;    
}
.success-card-contaier{
    display: flex;
    justify-content: space-between;
    margin-top: 91px;
}
.success-card{
    width: 359px;
    height: 377px;
    border-radius: 14px;
    border: 1.4px solid rgba(255, 255, 255, 0.1);
    padding: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(29, 29, 29, 1);
}
.success-card:nth-child(2){
    background-color: rgba(46, 46, 46, 1);
    margin: 0 32px;
}
.union-img{
    border: 1.4px solid #1919191A;
    width: 101px;
    height: 101px;
    background-color: var(--css-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.union-img img{
    width: 51.67;
    height: 48.99; 
}
.success-rate{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;  
    color: rgba(255, 255, 255, 1);   
}
.success-text{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;    
    color: rgba(255, 255, 255, .3);
}
.success-btn{
    background-color: var(--css-yellow);
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    width: 121px;
    height: 43px;
    border-radius: 23.5px;
    border: none;
}